.text-align-center {
    text-align: center;
}

.font-size-20px {
    font-size: 20px;
}

.font-size-25px {
    font-size: 25px;
}

.font-size-30px {
    font-size: 30px;
}

.font-size-35px {
    font-size: 35px;
}
